:root {
  --heading-font: "Hind Siliguri", sans-serif;
  --primary-color: #3b023b;
  --secondary-color: #c5cae9;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.navbar {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 20px;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
p {
  text-align: center;
  font-family: "Hind Siliguri", sans-serif;
}

h1 {
  font-size: 44px;
  font-weight: 700;
}
h2 {
  font-size: 48px;
  font-weight: 300;
}
h3 {
  font-size: 20px;
  opacity: 0.7;
  font-weight: 300;
}

h4 {
  font-size: 20px;
  font-weight: 400;
}

body {
  margin-top: 100px;
}

.main-page h1,
h2 {
  text-align: center;
}

.main-page .row {
  display: flex;
  padding: 20px 80px 0px 80px;
}
.colum-one {
  padding: 0px 10px 0px 0px;
}
.colum-two {
  padding: 30px 0px 0px 10px;
}

.logo {
  max-width: 200px;
}
.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}
.navigation-links a {
  margin: 20px;
}

.primary-link {
  background: var(--primary-color);
  color: white;
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}
.secondary-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

/* Project Page */

.wrapper {
  margin: 0px;
  margin-top: 70px;
}
.wrapper .row {
  text-align: center;
}

/* Resume CSS */

.container h2,
p {
  text-align: center;
}

.resume ul,
li {
  text-decoration: none;
  list-style: none;
  padding-left: none;
}

@media (max-width: 576px) {
  .container p {
    text-align: center;
  }

  .primary-link {
    display: block;
    text-align: center;
    margin: 0 20px;
  }

  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 15px;
  }

  .main-page .row {
    padding: none;
  }

  .main-page .row {
    display: flex;
    padding: 0px;
  }
  .colum-one {
    padding: 0px;
  }
  .colum-two {
    padding: 0px;
  }

  .resume h2 {
    font-size: 26px;
  }

  .resume h3 {
    font-size: 15px;
    text-align: justify;
  }

  .resume h4 {
    font-size: 16px;
  }

  .resume h5 {
    font-size: 18px;
    font-weight: 300;
  }
  .container img {
    display: none;
  }
}

@media (min-width: 960px) {
  .resume h2 {
    text-align: right;
    font-size: 30px;
  }

  .resume h3 {
    text-align: left;
    font-size: 15px;
  }

  .resume h4 {
    text-align: left;
    font-size: 22px;
  }

  .resume h5 {
    text-align: left;
    font-size: 18px;
    font-weight: 300;
  }

  .resume col {
    padding: 40px 0px 40px 0px;
  }
}

footer {
  margin: 20px 0;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 0px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--branding-color);
  text-decoration: underline;
}

footer .social-links a {
  margin: 0 20px;
  color: var(--primary-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--primary-color);
}
