:root {
  --heading-font: monospace;
  --primary-color: #304ffe;
  --secondary-color: #c5cae9;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
body {
  margin: 60px auto;
  max-width: 800px;
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}
h1 {
  text-align: center;
  margin: 0;
  font-size: 67px;
}

h2 {
  text-align: center;
  margin: 0;
  font-size: 47px;
}
.about-paragraphs {
  display: flex;
}

p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  margin: 10px;
}

.contacts {
  text-align: center;
  font-style: none;
}
 
