:root {
  --heading-font: monospace;
  --primary-color: #304ffe;
  --secondary-color: #c5cae9;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
body {
  margin: 60px auto;
  max-width: 800px;
}
h1,
h2,
h3,
p {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 57px;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 20px;
  opacity: 0.7;
}
.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}
.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contacts {
  margin: 30px 0;
}
.contacts-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.signature {
  display: block;
  margin-top: 40px;
  text-align: center;
}

/* About CSS */
.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}
.about-link {
  background: var(--primary-color);
  color: white;
  box-shadow: var(--box-shadow);
}
.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  margin: 10px;
}

.contacts {
  text-align: center;
  font-style: none;
}

.email-link {
  font-size: 30px;
  color: var(--primary-color);
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
